In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import pylab as pl
import numpy as np
%matplotlib inline

In [3]:
dtype_dict = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int}

In [4]:
train_data = pd.read_csv('kc_house_train_data.csv',dtype=dtype_dict)
test_data = pd.read_csv('kc_house_test_data.csv',dtype=dtype_dict)

In [5]:
train_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340.0,5650.0
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690.0,7639.0
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720.0,8062.0
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360.0,5000.0
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800.0,7503.0

Although we often think of multiple regression as including multiple different features (e.g. # of bedrooms, square feet, and # of bathrooms) but we can also consider transformations of existing variables e.g. the log of the square feet or even "interaction" variables such as the product of bedrooms and bathrooms. Add 4 new variables in both your train_data and test_data.

* ‘bedrooms_squared’ = ‘bedrooms’*‘bedrooms’
* ‘bed_bath_rooms’ = ‘bedrooms’*‘bathrooms’
* ‘log_sqft_living’ = log(‘sqft_living’)
* ‘lat_plus_long’ = ‘lat’ + ‘long’

In [6]:
train_data['bedrooms_squared'] = train_data['bedrooms']*train_data['bedrooms']
test_data['bedrooms_squared'] = test_data['bedrooms']*test_data['bedrooms']
train_data['bed_bath_rooms'] = train_data['bedrooms']*train_data['bathrooms']
test_data['bed_bath_rooms'] = test_data['bedrooms']*test_data['bathrooms']
train_data['log_sqft_living'] = np.log(train_data['sqft_living'])
test_data['log_sqft_living'] = np.log(test_data['sqft_living'])
train_data['lat_plus_long'] = train_data['lat']+train_data['long']
test_data['lat_plus_long'] = test_data['lat']+test_data['long']

In [7]:
train_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,bedrooms_squared,bed_bath_rooms,log_sqft_living,lat_plus_long
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650,1,0,0,...,0,98178,47.5112,-122.257,1340.0,5650.0,9.0,3.00,7.073270,-74.7458
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242,2,0,0,...,1991,98125,47.7210,-122.319,1690.0,7639.0,9.0,6.75,7.851661,-74.5980
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000,1,0,0,...,0,98028,47.7379,-122.233,2720.0,8062.0,4.0,2.00,6.646391,-74.4951
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000,1,0,0,...,0,98136,47.5208,-122.393,1360.0,5000.0,16.0,12.00,7.580700,-74.8722
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080,1,0,0,...,0,98074,47.6168,-122.045,1800.0,7503.0,9.0,6.00,7.426549,-74.4282

* Squaring bedrooms will increase the separation between not many bedrooms (e.g. 1) and lots of bedrooms (e.g. 4) since 1^2 = 1 but 4^2 = 16. Consequently this variable will mostly affect houses with many bedrooms.
* Bedrooms times bathrooms is what's called an "interaction" variable. It is large when both of them are large.
* Taking the log of square feet has the effect of bringing large values closer together and spreading out small values.
* Adding latitude to longitude is non-sensical but we will do it anyway (you'll see why)

## what are the mean (arithmetic average) values of your 4 new variables on TEST data? (round to 2 digits)

In [10]:
print(test_data['bedrooms_squared'].mean())
print(test_data['bed_bath_rooms'].mean())
print(test_data['log_sqft_living'].mean())
print(test_data['lat_plus_long'].mean())

12.4466777015843
7.5039016315913925
7.550274679645921
-74.65333355403185

Use linear_model.LinearRegression() to estimate the regression coefficients/weights for predicting ‘price’ for the following three models:

* Model 1: ‘sqft_living’, ‘bedrooms’, ‘bathrooms’, ‘lat’, and ‘long’
* Model 2: ‘sqft_living’, ‘bedrooms’, ‘bathrooms’, ‘lat’,‘long’, and ‘bed_bath_rooms’
* Model 3: ‘sqft_living’, ‘bedrooms’, ‘bathrooms’, ‘lat’,‘long’, ‘bed_bath_rooms’, ‘bedrooms_squared’, ‘log_sqft_living’, and ‘lat_plus_long’

In [11]:
model1_features = ['sqft_living', 'bedrooms', 'bathrooms', 'lat','long']
model2_features=['sqft_living', 'bedrooms', 'bathrooms', 'lat','long', 'bed_bath_rooms']
model3_features=['sqft_living', 'bedrooms', 'bathrooms', 'lat','long', 'bed_bath_rooms', 'bedrooms_squared', 'log_sqft_living', 'lat_plus_long']

In [13]:
#model1
from sklearn import linear_model 
regr = linear_model.LinearRegression() 
x = np.asanyarray(train_data[model1_features]) 
y = np.asanyarray(train_data['price']) 
regr.fit (x, y) 
# The coeficients 
print ('Coeficients: ', regr.coef_)

Coeficients:  [  3.12258646e+02  -5.95865332e+04   1.57067421e+04   6.58619264e+05
  -3.09374351e+05]

In [14]:
#model2
regr = linear_model.LinearRegression() 
x = np.asanyarray(train_data[model2_features]) 
y = np.asanyarray(train_data['price']) 
regr.fit (x, y) 
# The coeficients 
print ('Coeficients: ', regr.coef_)

Coeficients:  [  3.06610053e+02  -1.13446368e+05  -7.14613083e+04   6.54844630e+05
  -2.94298969e+05   2.55796520e+04]

In [15]:
#model3
regr = linear_model.LinearRegression() 
x = np.asanyarray(train_data[model3_features]) 
y = np.asanyarray(train_data['price']) 
regr.fit (x, y) 
# The coeficients 
print ('Coeficients: ', regr.coef_)

Coeficients:  [  5.29422820e+02   3.45142296e+04   6.70607813e+04   5.34085611e+05
  -4.06750711e+05  -8.57050439e+03  -6.78858667e+03  -5.61831484e+05
   1.27334900e+05]

## Which model (1, 2 or 3) had the lowest RSS on TRAINING data?

In [20]:
#RSS for model 1
regr = linear_model.LinearRegression() 
x = np.asanyarray(train_data[model1_features]) 
y = np.asanyarray(train_data['price']) 
regr.fit (x, y) 
y_hat1= regr.predict(x)


print("RSS for model 1: %.2f" 
      % np.sum((y_hat1-y)**2))

RSS for model 1: 967879963049546.38

In [21]:
#RSS for model 2
regr = linear_model.LinearRegression() 
x = np.asanyarray(train_data[model2_features]) 
y = np.asanyarray(train_data['price']) 
regr.fit(x, y) 

y_hat2= regr.predict(x)

print("RSS for model 2: %.2f" 
      % np.sum((y_hat2-y)**2))

RSS for model 2: 958419635074069.25

In [23]:
#RSS for model 3
regr = linear_model.LinearRegression() 
x = np.asanyarray(train_data[model3_features]) 
y = np.asanyarray(train_data['price']) 
regr.fit(x, y) 
y_hat3= regr.predict(x)

print("RSS for model 3: %.2f" 
      % np.sum((y_hat3-y)**2))

RSS for model 3: 903436455050479.12

## Which model (1, 2, or 3) had the lowest RSS on TESTING data?

In [30]:
#RSS for model 1
regr = linear_model.LinearRegression() 
x = np.asanyarray(test_data[model1_features]) 
y = np.asanyarray(test_data['price']) 
regr.fit(x, y) 
y_hat1= regr.predict(x)


print("RSS for model 1: %.2f" 
      % np.sum((y_hat1-y)**2))

RSS for model 1: 223588470558142.88

In [31]:
#RSS for model 2
regr = linear_model.LinearRegression() 
x = np.asanyarray(test_data[model2_features]) 
y = np.asanyarray(test_data['price']) 
regr.fit(x, y) 

y_hat2= regr.predict(x)

print("RSS for model 2: %.2f" 
      % np.sum((y_hat2-y)**2))

RSS for model 2: 220888287427809.25

In [32]:
#RSS for model 3
regr = linear_model.LinearRegression() 
x = np.asanyarray(test_data[model3_features]) 
y = np.asanyarray(test_data['price']) 
regr.fit(x, y) 
y_hat3= regr.predict(x)

print("RSS for model 3: %.2f" 
      % np.sum((y_hat3-y)**2))

RSS for model 3: 211457519132478.84